/**
 * Student Name: Peng Gu
 * StudentId:301240546
 * Submit Day:09 July,2023
 * */
 table {
      border-collapse: collapse;
      width: 100%;
    }
	    
	th, td {
	  padding: 8px;
	  text-align: left;
	  border-bottom: 1px solid #ddd;
	}
	
	input[type="submit"] {
	  padding: 8px 16px;
	  background-color: #4CAF50;
	  color: white;
	  border: none;
	  cursor: pointer;
	}
	.required-star {
	  color: red;
	  margin-left: 5px;
	}
	
	
	
	